In [50]:
import pandas as pd

In [51]:
df=pd.read_csv('Walmart.csv')

In [52]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [53]:
df.shape

(10051, 11)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [55]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [56]:
df.duplicated().sum()

np.int64(51)

In [57]:
df.drop_duplicates(inplace=True)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10000 non-null  int64
 1   Branch          10000 non-null  object
 2   City            10000 non-null  object
 3   category        10000 non-null  object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            10000 non-null  object
 7   time            10000 non-null  object
 8   payment_method  10000 non-null  object
 9   rating          10000 non-null  float64
 10  profit_margin   10000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 937.5+ KB

In [59]:
df.dropna(inplace=True)
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 934.6+ KB

In [61]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [62]:
df['unit_price']=df['unit_price'].str.replace('$'," ").astype(float)

In [63]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [64]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [65]:
df['Total'] = df['unit_price']*df['quantity']
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [66]:
df['Total']=df['Total'].round(2)
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [67]:
df.to_csv('Walmar_cleanData.csv',index=False)

In [68]:
from sqlalchemy import create_engine
import pymysql

In [69]:
engine=create_engine(f"mysql+pymysql://root:Nithish%401213@localhost:3306/Walmart_sales")
con=engine.connect()
try:
    con 
    print("suc")
except:
    print("Unsuc")

suc

In [70]:
df.to_sql(name='Walmart',con=engine,if_exists="append", index=False)

C:\Users\madha\AppData\Local\Temp\ipykernel_6916\132534469.py:1: UserWarning: The provided table name 'Walmart' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name='Walmart',con=engine,if_exists="append", index=False)

9969

In [71]:
Query="Select distinct(category) from Walmart"
Test1=pd.read_sql(Query,con=engine)
print(Test1)

                 category
0       Health and beauty
1  Electronic accessories
2      Home and lifestyle
3       Sports and travel
4      Food and beverages
5     Fashion accessories

1. Revenue Trends by Top 10 Branches & Categories

In [90]:
Q1='SELECT branch, category,concat("$",format(SUM(total),2)) AS revenue FROM Walmart GROUP BY branch, category ORDER BY SUM(total) DESC limit 10;'
Trends=pd.read_sql_query(Q1,con=engine)
print(Trends)

    branch             category      revenue
0  WALM029   Home and lifestyle  $119,984.60
1  WALM058  Fashion accessories  $119,942.80
2  WALM074   Home and lifestyle  $116,378.80
3  WALM030  Fashion accessories  $116,254.10
4  WALM009   Home and lifestyle  $115,094.60
5  WALM084   Home and lifestyle  $113,707.60
6  WALM009  Fashion accessories  $113,390.40
7  WALM058   Home and lifestyle  $110,865.60
8  WALM046  Fashion accessories  $110,220.70
9  WALM069  Fashion accessories  $103,392.10

2. Best-Selling Product Categories

In [73]:
Q2='SELECT category,format(SUM(quantity),0) AS total_units_sold FROM Walmart GROUP BY category ORDER BY total_units_sold DESC LIMIT 10;'
Categories=pd.read_sql(Q2,con=engine)
print(Categories)

                 category total_units_sold
0     Fashion accessories           96,530
1      Home and lifestyle           96,100
2      Food and beverages            9,520
3       Sports and travel            9,200
4       Health and beauty            8,540
5  Electronic accessories           14,940

3.Top 5 Average Order Value (AOV) by Branch

In [89]:
Q3='SELECT branch,concat("$",round(AVG(total),2)) AS average_order_value FROM Walmart GROUP BY branch ORDER BY average_order_value Desc limit 5;'
Order_value=pd.read_sql(Q3,con=engine)
print(Order_value)

    branch average_order_value
0  WALM031              $99.44
1  WALM092               $98.8
2  WALM017             $182.73
3  WALM042             $174.06
4  WALM062             $163.23

4.Top 5 Performing Cities by Sales

In [75]:
Q4='SELECT city, concat("$",format(SUM(total),2)) AS total_revenue FROM Walmart GROUP BY city ORDER BY SUM(total)  Desc Limit 5;'
Cities=pd.read_sql(Q4,con=engine)
print(Cities)

          city total_revenue
0      Weslaco   $463,517.90
1   Waxahachie   $407,033.30
2        Plano   $256,883.40
3  San Antonio   $249,505.60
4  Port Arthur   $245,243.70

5. Total Revenue by Payment Method

In [88]:
Q5='SELECT payment_method, concat("$", FORMAT(SUM(total), 2)) AS total_revenue FROM Walmart GROUP BY payment_method ORDER BY SUM(total) DESC;'
Payments=pd.read_sql(Q5,con=engine)
print(Payments)

  payment_method  total_revenue
0    Credit card  $4,888,210.20
1        Ewallet  $4,573,160.70
2           Cash  $2,635,892.90